# Database
DATABASE_URL="postgresql://user:password@localhost:5432/cmarcas"

# Email
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USER="seu-email@gmail.com"
SMTP_PASS="sua-senha-app"
CONTACT_TO="mktcmarcas@cmarcas.com.br"

# reCAPTCHA
NEXT_PUBLIC_RECAPTCHA_SITE_KEY="sua-chave-publica"
RECAPTCHA_SECRET_KEY="sua-chave-secreta"

# Google Maps
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY="sua-chave-api"

# Analytics
NEXT_PUBLIC_GA_ID="seu-id-google-analytics"

# WhatsApp
WHATSAPP_PHONE="5511943618391"
